.App {
  text-align: center;

}
header{
  background-color: rgba(255, 145, 1, 0.459);
  color: aliceblue;
  height: 80px;
  margin-left: 32%;
  margin-right: 32%;
  border: 1px solid black;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-top: 20px;
}
.linea{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS4CYKWTJJUp1uSBX42QkoFWhF18c3DZKTfA&usqp=CAU);
  font-size: 18px;
  background-size: 100% 100%;
  border: .5px black solid;
  margin-left: 32%;
  margin-right: 32%;
	overflow-y: scroll;
  height: 700px;
 }
 
.caja{
  margin-top: -20px;
  margin-left: 32%;
  margin-right: 32%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: rgb(34, 34, 34);
  text-align: center;
  color: white;
}

.linea1{
  width: auto;
  height: 1px;
  background-color: black;
  margin-top: 40px;
 }

#cuadro_texto li{
  border: 0.5px solid rgba(42, 99, 3, 0.733);
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  list-style: none;
  background-color: rgba(172, 255, 47, 0.432);

}

#campo_texto{
   margin-bottom: 15px;
}
