
.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 830px;
  margin-left: 35%;
  margin-right: 35%;
  border: 2px black solid;
  border-bottom: 2px transparent;

 
}
.barra{
    margin-top: 20px;
    height: 25px;
    width: 200px;
}
.boton{
  margin-right: 5px;
  margin-top: 25px;
  height: 25px;
  width: 80px;
}
.caja{
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  margin-top: 600px;
  border: 2px black solid;
  border-radius: 25px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
